/ModAPI Project/StoopidTry/.vs
/ModAPI Project/StoopidTry/SdkPathConfig.props
/ModAPI Project/StoopidTry/StoopidTry.sln
/ModAPI Project/StoopidTry/.vs/
/ModAPI Project/FloraEditorReconstruction/.vs
/ModAPI Project/FloraEditorReconstruction/FloraEdi.07FC5B61
ModAPI Project/FloraEditorReconstruction/SdkPathConfig.props
/floraeditor recon
/fe_editor_pedestal
/night version
/materials
/SMFX-Project/FloraEditorRecon
/SMFX-Project/FloraEditorRecon/
/SMFX-Project/FloraEditorRecon_main_Parts/floraparticons2
